In [13]:
import pandas as pd
import numpy as np
data1 = pd.read_excel(r'C:\Users\Doris\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.xlsx')

In [9]:
data1.groupby(['Y2014']).sum() #to get the sum of the column Y2014

,Area Code,Item Code,Element Code,Y2015,Y2016,Y2017,Y2018
Y2014,,,,,,,
-1796.0,159,2657,5072,-73.0,-12.0,0.0,0.0
-1631.0,159,2924,5072,6.0,-77.0,-689.0,5.0
-849.0,266,5444,10340,-1118.0,-1119.0,-1200.0,-1196.0
-838.0,184,2907,5072,-827.0,-679.0,-538.0,-567.0
-685.0,143,2905,5072,3418.0,-3225.0,689.0,399.0
...,...,...,...,...,...,...,...
90425.0,59,2501,511,92443.0,94447.0,96443.0,98424.0
98094.0,238,2501,511,100835.0,103603.0,106400.0,109224.0
108756.0,159,2907,5301,110798.0,116483.0,112625.0,117038.0
109593.0,159,2907,5511,111663.0,119330.0,117702.0,118172.0
176405.0,159,2501,511,181137.0,185960.0,190873.0,195875.0

In [24]:
#Qs 11: What is the total sum of Animal Fat produced in 2014 and 2017 respectively? Answer is 209460.54 and 269617.53
data1.groupby(['Item']).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [22]:
#Qs 12:What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?
data1.groupby(['Y2015']).min()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2016,Y2017,Y2018
Y2015,,,,,,,,,,,
-3161.0,202,South Africa,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,439.0,-1499.0,2665.0,-296.0
-2152.0,202,South Africa,2514,Maize and products,5072,Stock Variation,1000 tonnes,626.0,-1324.0,2555.0,-597.0
-1284.0,276,Sudan,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,4569.0,3266.0,-607.0,1898.0
-907.0,251,Zambia,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,520.0,-506.0,532.0,-529.0
-887.0,276,Sudan,2518,Sorghum and products,5072,Stock Variation,1000 tonnes,3134.0,2432.0,-819.0,163.0
...,...,...,...,...,...,...,...,...,...,...,...
92443.0,59,Egypt,2501,Population,511,Total Population - Both sexes,1000 persons,90425.0,94447.0,96443.0,98424.0
100835.0,238,Ethiopia,2501,Population,511,Total Population - Both sexes,1000 persons,98094.0,103603.0,106400.0,109224.0
110798.0,159,Nigeria,2907,Starchy Roots,5301,Domestic supply quantity,1000 tonnes,108756.0,116483.0,112625.0,117038.0
111663.0,159,Nigeria,2907,Starchy Roots,5511,Production,1000 tonnes,109593.0,119330.0,117702.0,118172.0
181137.0,159,Nigeria,2501,Population,511,Total Population - Both sexes,1000 persons,176405.0,185960.0,190873.0,195875.0

In [11]:
# QS 13: What is the total number and percentage of missing data in 2016 to 2 decimal places? asnwer is 1535 and 2.52
data1.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [17]:
#Qs 14: Which year had the highest correlation with ‘Element Code’? Answer is Y2017
data1.groupby("Element Code").max()

,Area Code,Area,Item Code,Item,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element Code,,,,,,,,,,,
511,276,Zimbabwe,2501,Population,Total Population - Both sexes,1000 persons,176405.00,181137.00,185960.00,190873.00,195875.00
645,276,Zimbabwe,2961,Yams,Food supply quantity (kg/capita/yr),kg,428.27,418.21,419.48,433.38,443.56
664,276,Zimbabwe,2961,Yams,Food supply (kcal/capita/day),kcal/capita/day,3435.00,3454.00,3451.00,3457.00,3450.00
674,276,Zimbabwe,2961,Yams,Protein supply quantity (g/capita/day),g/capita/day,100.34,100.33,100.94,100.10,101.08
684,276,Zimbabwe,2961,Yams,Fat supply quantity (g/capita/day),g/capita/day,93.73,96.79,94.33,97.13,94.94
5072,276,Zimbabwe,2961,Yams,Stock Variation,1000 tonnes,4569.00,3418.00,3266.00,5089.00,2226.00
5123,276,Zimbabwe,2949,Yams,Losses,1000 tonnes,9807.00,9999.00,10432.00,10342.00,10355.00
5131,276,Zimbabwe,2948,Wine,Processing,1000 tonnes,18383.00,21609.00,21739.00,22174.00,22609.00
5142,276,Zimbabwe,2961,Yams,Food,1000 tonnes,49014.00,50705.00,52612.00,51220.00,54077.00
5154,276,Zimbabwe,2961,Yams,Other uses (non-food),1000 tonnes,12552.00,6001.00,6099.00,17219.00,17221.00
5170,276,Zimbabwe,2949,Yams,Residuals,1000 tonnes,16697.00,16136.00,18077.00,17476.00,17323.00
5171,193,Sao Tome and Principe,2949,Yams,Tourist consumption,1000 tonnes,62.00,48.00,6.00,6.00,6.00
5301,276,Zimbabwe,2961,Yams,Domestic supply quantity,1000 tonnes,108756.00,110798.00,116483.00,112625.00,117038.00
5511,276,Zimbabwe,2961,Yams,Production,1000 tonnes,109593.00,111663.00,119330.00,117702.00,118172.00
5521,276,Zimbabwe,2960,Yams,Feed,1000 tonnes,29797.00,30472.00,31607.00,29580.00,31567.00
5527,276,Zimbabwe,2960,Yams,Seed,1000 tonnes,1258.00,1352.00,1402.00,1453.00,1474.00
5611,276,Zimbabwe,2961,Yams,Import Quantity,1000 tonnes,19582.00,18824.00,19858.00,18627.00,18036.00
5911,276,Zimbabwe,2961,Yams,Export Quantity,1000 tonnes,39686.00,52578.00,35420.00,34641.00,34641.00

In [18]:
# Qs 15:What year has the highest sum of Import Quantity? Answer is Y2016
data1.groupby("Element").max()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,276,Zimbabwe,2961,Yams,5301,1000 tonnes,108756.00,110798.00,116483.00,112625.00,117038.00
Export Quantity,276,Zimbabwe,2961,Yams,5911,1000 tonnes,39686.00,52578.00,35420.00,34641.00,34641.00
Fat supply quantity (g/capita/day),276,Zimbabwe,2961,Yams,684,g/capita/day,93.73,96.79,94.33,97.13,94.94
Feed,276,Zimbabwe,2960,Yams,5521,1000 tonnes,29797.00,30472.00,31607.00,29580.00,31567.00
Food,276,Zimbabwe,2961,Yams,5142,1000 tonnes,49014.00,50705.00,52612.00,51220.00,54077.00
Food supply (kcal/capita/day),276,Zimbabwe,2961,Yams,664,kcal/capita/day,3435.00,3454.00,3451.00,3457.00,3450.00
Food supply quantity (kg/capita/yr),276,Zimbabwe,2961,Yams,645,kg,428.27,418.21,419.48,433.38,443.56
Import Quantity,276,Zimbabwe,2961,Yams,5611,1000 tonnes,19582.00,18824.00,19858.00,18627.00,18036.00
Losses,276,Zimbabwe,2949,Yams,5123,1000 tonnes,9807.00,9999.00,10432.00,10342.00,10355.00
Other uses (non-food),276,Zimbabwe,2961,Yams,5154,1000 tonnes,12552.00,6001.00,6099.00,17219.00,17221.00
Processing,276,Zimbabwe,2948,Wine,5131,1000 tonnes,18383.00,21609.00,21739.00,22174.00,22609.00
Production,276,Zimbabwe,2961,Yams,5511,1000 tonnes,109593.00,111663.00,119330.00,117702.00,118172.00
Protein supply quantity (g/capita/day),276,Zimbabwe,2961,Yams,674,g/capita/day,100.34,100.33,100.94,100.10,101.08
Residuals,276,Zimbabwe,2949,Yams,5170,1000 tonnes,16697.00,16136.00,18077.00,17476.00,17323.00
Seed,276,Zimbabwe,2960,Yams,5527,1000 tonnes,1258.00,1352.00,1402.00,1453.00,1474.00
Stock Variation,276,Zimbabwe,2961,Yams,5072,1000 tonnes,4569.00,3418.00,3266.00,5089.00,2226.00
Total Population - Both sexes,276,Zimbabwe,2501,Population,511,1000 persons,176405.00,181137.00,185960.00,190873.00,195875.00
Tourist consumption,193,Sao Tome and Principe,2949,Yams,5171,1000 tonnes,62.00,48.00,6.00,6.00,6.00

In [ ]:
import pandas as pd
import numpy as np
data1 = pd.read_excel(r'C:\Users\Doris\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.xlsx')
#Qs 16: What is the total number of the sum of Production in 2014?
data1.groupby([len(data1)]).sum()

In [16]:
import pandas as pd
import numpy as np
data1 = pd.read_excel(r'C:\Users\Doris\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.xlsx')
# Qs 17:Which of these elements had the highest sum in 2018? answer is "Domestic supply quantity"
# Qs 18:Which of these elements had the 3rd lowest sum in 2018? answer is "Protein supply quantity (g/capita/day)"
data1.groupby(["Element"]).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [20]:
# Qs 19:What is the total Import Quantity in Algeria in 2018?
data1.groupby(["Area","Element"]).sum()

                                                 Area Code  Item Code  \
Area     Element
Algeria  Domestic supply quantity                      464     311204
         Export Quantity                               392     264011
         Fat supply quantity (g/capita/day)            432     291489
         Feed                                           88      58967
         Food                                          420     282744
...                                                    ...        ...
Zimbabwe Protein supply quantity (g/capita/day)      20453     304589
         Residuals                                   18824     277476
         Seed                                         3439      50560
         Stock Variation                             17195     254157
         Total Population - Both sexes                 181       2501

                                                 Element Code     Y2014  \
Area     Element
Algeria  Domestic supply quantity                      614916  83755.94
         Export Quantity                               579278   1328.64
         Fat supply quantity (g/capita/day)             73872    320.19
         Feed                                          121462   9656.04
         Food                                          539910  60582.69
...                                                       ...       ...
Zimbabwe Protein supply quantity (g/capita/day)         76162    184.23
         Residuals                                     537680   -252.00
         Seed                                          105013    144.00
         Stock Variation                               481840   -644.00
         Total Population - Both sexes                    511  13587.00

                                                    Y2015     Y2016     Y2017  \
Area     Element
Algeria  Domestic supply quantity                85972.86  87157.61  86810.42
         Export Quantity                          1104.62   1340.22   1494.54
         Fat supply quantity (g/capita/day)        317.40    309.54    320.74
         Feed                                    10308.00   9903.00   9571.00
         Food                                    61693.49  63081.43  62785.33
...                                                   ...       ...       ...
Zimbabwe Protein supply quantity (g/capita/day)    175.31    172.72    175.31
         Residuals                                -780.00   -882.00  -1083.00
         Seed                                      128.00    127.00    162.00
         Stock Variation                          -343.00    221.00    458.00
         Total Population - Both sexes           13815.00  14030.00  14237.00

                                                    Y2018
Area     Element
Algeria  Domestic supply quantity                90023.42
         Export Quantity                           811.54
         Fat supply quantity (g/capita/day)        309.09
         Feed                                    10668.00
         Food                                    63736.33
...                                                   ...
Zimbabwe Protein supply quantity (g/capita/day)    176.57
         Residuals                                -546.00
         Seed                                      140.00
         Stock Variation                          -447.00
         Total Population - Both sexes           14439.00

[803 rows x 8 columns]

In [23]:
#Qs 20:What is the total number of unique countries in the dataset? Answer is 49.
data1.groupby('Area')['Area'].count()

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
Côte d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64